.ce_fussball_widget #fussballdeAPI {
    margin:0 auto !important;
    width:609px !important;
}

.ce_fussball_widget .egmMain,
.ce_fussball_widget iframe {
    margin:0 auto !important;
    width:611px !important;
}

.ce_fussball_widget #fussballdeAPI .fbdeAPItoplogo {
    background-color:#1B1B1B !important;
}

.ce_fussball_widget .egmMain .egmMatchDaySwitch,
.ce_fussball_widget .egmMatchDaySelect {
    display:inline-block !important;
}

#fussball_widget_highlighted_row td {
    background-color:#FF7300 !important;
    font-size:12px !important;;
    font-weight:bold !important;
    color:#fff !important;
}

#fussball_widget_highlighted_row td.fbdeAPIAufsteigerInactA,
#fussball_widget_highlighted_row td.fbdeAPIAufsteigerInactB {
    background-color:#FF7300 !important;
}

#fussball_widget_highlighted_row td.fbdeAPIAbsteigerInactB,
#fussball_widget_highlighted_row td.fbdeAPIAbsteigerInactA {
    background-color:#FF7300 !important;
}

#fussball_widget_highlighted_row a {
    font-size:12px !important;;
    font-weight:bold !important;
    color:#fff !important;
}