
.ce_fussball_matches table {
	width:100%;
}

.ce_fussball_matches th,
.ce_fussball_matches tfoot td {
	background-color:#333;
	font-weight:bold;
	color:#fff;
}

.ce_fussball_matches th,
.ce_fussball_matches td {
	padding:2px 4px;
}

.ce_fussball_matches tr.odd  { background-color:#ccc; }
.ce_fussball_matches tr.even { background-color:#eee; }

.ce_fussball_matches td.anstoss,
.ce_fussball_matches td.ergebnis,
.ce_fussball_matches td.points {
	font-weight:normal;
    text-align:right;
}

.ce_fussball_matches td.spiel span.name {
    font-weight: bold;
}

.ce_fussball_matches td.spiel span.name_short {
    display:none;
}

.ce_fussball_matches td.typ {
    text-align:center;
}

.ce_fussball_matches td.points span.ball {
    display:none;
}

.ce_fussball_matches td.wappen table,
.ce_fussball_matches td.wappen tr,
.ce_fussball_matches td.wappen td {
    margin:0;
    padding:0;
}

.ce_fussball_matches td.wappen img { display:block; }
.ce_fussball_matches td .col0 img  { float:right; margin-right:2px; }
.ce_fussball_matches td .col1 img  { float:left;  margin-left:2px;  }


